html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#21c08b, #ab88ff);
    font-family: 'Comic Neue', cursive;
}

input {
    background: transparent;
    border: 1px solid black;
}

::placeholder {
    color: black;
}

input:focus {
    outline: none;
}

.main {
    margin: 0 auto;
    width: 960px;
}

.principal-title {
    text-align: center;
}


/*problemas*/

.problema-item {
    margin-bottom: 20px;
}

.problema-item {
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.container-inputs {
    display: none;
}


/* fin */

.entrada {
    padding: 10px 20px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
    padding: 5px 20px;
    background-color: transparent;
}

.btn-ejecturar {
    background-color: blue;
    color: white;
}

.btn-ejecturar:active {
    background-color: white;
    color: black;
}

.title-problem {
    font-size: 1.8rem;
    font-weight: bold;
}

.p-problem {
    font-size: 1.4rem;
}